<div class="sectionWrap halfGutter collectionTitle">
  <div class="grid flexGrid gridJustify">
    <div class="fullSpan alignCenter flexItem">
      {% if search.performed %}
        {% if search.results_count == 0 %}
          <h1 class="genHeading">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
        {% else %}
          <h1 class="genHeading">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
        {% endif %}
      {% else %}
      <h1 class="genHeading">{{ 'general.search.title' | t }}</h1>
      {% endif %}
    </div>
  </div>
</div>
{% paginate search.results by 42%}
  <div id="searchResults" class="sectionWrap halfGutter hasGrid">
    <div class="grid flexGrid gridAlignTop">
      {% if search.performed %}
        <ul class="productListing flexGrid gridAlignLeft  fullSpan">
          {% for item in search.results %}      
            {% if item.object_type == 'article' %}
              {%assign article = item%}
              {%include 'blog-thumb' with 'thirds'%}
            {%endif%}
            {% if item.object_type == 'product' %}
              {%assign product = item%}
              {%include 'product-thumb' with 'thirds'%}
            {%endif%}
          {%endfor%}
        </ul>
      {% endif %}
      {%if paginate.parts.size > 1%}
        <div class="pagination fullSpan flexItem flexGrid gridAlignLeft">
          <div class="leftSide half flexItem">
            {% for part in paginate.parts %}
              <a {%if part.title == paginate.current_page%}class="active"{%endif%} href="{{part.url}}">{{part.title}}</a>
            {%endfor%}
          </div>
          <div class="rightSide half flexItem">
            {% if paginate.previous %}
              <a href="{{ paginate.previous.url }}">{{ paginate.previous.title | replace:'« ',''}}</a>
              <span>/</span>
            {% endif %}
            {% if paginate.next %}
              <a href="{{ paginate.next.url }}">{{ paginate.next.title | replace:' »', ''}}</a>
            {% endif %}
          </div>
        </div>
      {%endif%}
    </div>
  </div>
{% endpaginate %}
